<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/sakura.css') }}">
    <title>Seznam Přečtených Knih</title>
</head>
<body>
    <h1>Seznam Přečtených Knih</h1>
    <table border="1">
        <tr>
            <th>Název</th>
            <th>Autor</th>
            <th>Počet Stran</th>
            <th>Akce</th>
        </tr>
        {% for zaznam in zaznamy %}
        <tr>
            <td>{{ zaznam.nazev }}</td>
            <td>{{ zaznam.autor }}</td>
            <td>{{ zaznam.pocet_stran }}</td>
            <td>
                <form action="{{ url_for('routes.smazat', id=zaznam.id) }}" method="POST">
                    <button type="submit">Smazat</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/zaznam_knih">Zpět na formulář</a>
</body>
</html>
