{% from "macros/fields.html" import render_input_field, render_password_field, render_checkbox_field, render_submit %}



{% block content %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/sakura.css') }}">
  <h3>Formulář pro záznam knihy</h3>
  <form method="POST" id='login-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.nazev) }}
    {{ render_input_field(form.autor) }}
    {{ render_input_field(form.pocet_stran) }}
    {{ render_submit() }}
  </form>
  <br>
{% endblock %}